<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaft.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<h3>บันทึกข้อมูล</h3>
<hr>
<p class="h4 mb4">บันทึกข้อมูลพนักงาน</p>
<form th:action="@{/employees/save}" th:object="${employee}" method="POST">
<input type="hidden" th:field="*{id}" /> 
<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="First Name" />
<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last Name" />
<input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email" />
<input type="text" th:field="*{image}" class="form-control mb-4 col-4" placeholder="Image" />
<button type="submit" class="btn btn-info col-2">Save</button>
</form>
<br>
<a th:href="@{/employees/list}">Back to the list</a>
</div>
</body>
</html>