<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaft.org">
<head>
<meta charset="UTF-8">
<title>ข้อมูลพนักงาน</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
	<div class = "container">
	<a th:href="@{/patients/showformforadd}" class ="btn btn-success col-2" >Add New Employee</a>
	<br>
		<h3>ข้อมูลพนักงาน</h3>
		<hr>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>ชื่อ</th>
					<th>นามสกุล</th>
					<th>อีเมลล์</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tempPatient : ${patient}">
					<td th:text="${tempPatient.firstName}" />
					<td th:text="${tempPatient.lastName}" />
					<td th:text="${tempPatient.dateOfBirth}" />
					<td th:text="${tempPatient.gender}" />
					<td th:text="${tempPatient.descripiton}" />
					<td th:text="${tempPatient.age}" />
					<td th:text="${tempPatient.weight}" />
					<td th:text="${tempPatient.diseaseType}" />
					<td th:text="${tempPatient.doctorName}" />
					 <td class="text-center" > 
					 <!-- Update button -->
<a th:href="@{/patients/showformforupdate(patientId = ${tempPatient.id})}" class = "btn btn-primary btn-sm">Update</a>
					<!-- Delete button -->
 <a th:href = "@{/patients/delete(patientId = ${tempPatient.id})}" 
class = "btn btn-danger btn-sm" 
onclick = "if(!(confirm('คุณแน่ใจที่ต้องการลบข้อมูลพนักงาน?')))  return false">Delete</a> 
					</td>	 
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>